@model IEnumerable<DaOAuthV2.Service.DTO.RessourceServerDto>

@{
    Layout = "_en.layout";
}


<h1>List of ressource servers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Login
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    <a href="@Url.Action("Details", "RessourceServer", new { id = @item.Id })"><i class="fas fa-2x fa-search"></i></a>
                    @if (User.IsInRole(DaOAuthV2.Constants.RoleName.Administrator))
                    {
                        <a href="@Url.Action("Edit", "RessourceServer", new { id = @item.Id })"><i class="fas fa-2x fa-edit"></i></a>
                        <span onclick="return doConfirm(@item.Id);" style="cursor: pointer;"><i class="fas fa-2x fa-trash-alt"></i></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-3">
        <a href="@Url.Action("Dashboard", "Home")" class="btn btn-lg btn-secondary btn-block">Back</a>
    </div>
    @if (User.IsInRole(DaOAuthV2.Constants.RoleName.Administrator))
    {
    <div class="col-9">
        <a href="@Url.Action("Create", "RessourceServer")" class="btn btn-lg btn-primary btn-block">New ressource server</a>
    </div>
    }
</div>

@section PageScript {
    <script type="text/javascript">
        function doConfirm(id) {
            $.bsAlert.confirm("Are you sure you want to delete ?", function () {
                console.log(id);
                $(location).attr('href', '/en/RessourceServer/delete/' + id);
             });
        }
    </script>
}