@model DaOAuthV2.Gui.Front.Models.UpdateRessouceServerModel

@{
    Layout = "_fr.layout";
}

@await Html.PartialAsync("_fr.modelErrors")


<h1>Edition du serveur de ressources <em>@Model.Name</em></h1>
<hr />

<form asp-action="Edit" id="rsForm" method="post">
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col">
            <h3>Informations</h3>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nom</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="Login" class="control-label">Login</label>
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            </div>

        </div>

        <div id="scopesToPost">
            @{
                int count = 0;
                @foreach (var scope in Model.Scopes)
                {
                    <input type="hidden" name="Scopes[@count].Key" value="@scope.Key" />
                    if (scope.Value)
                    {
                        <input type="hidden" name="Scopes[@count].Value" value="true" />
                    }
                    else
                    {
                        <input type="hidden" name="Scopes[@count].Value" value="false" />
                    }

                    count++;
                }
            }
        </div>

        <div class="col">
            <h3>Scopes</h3>
            <br />
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Libellé
                        </th>
                        <th>
                            Lecture écriture
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="scopeTBody">
                    @foreach (var scope in Model.Scopes)
                    {
                        <tr>
                            <td>
                                <input type="text" id="scopeWording" class="form-control" value="@scope.Key" />
                            </td>
                            <td>
                                @if (scope.Value)
                                {
                                    <input checked="checked" id="scopeReadWrite" type="checkbox" />
                                }
                                else
                                {
                                    <input id="scopeReadWrite" type="checkbox" />
                                }
                            </td>
                            <td><span><i onclick="deleteScope(this)" class="fas fa-2x fa-trash-alt"></i></span></td>
                        </tr>
                    }
                </tbody>
            </table>

            <button id="addScope" type="button" class="btn btn-lg btn-block btn-secondary">Ajouter un scope</button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="form-group">
                <input id="postForm" value="Valider" class="btn btn-lg btn-primary btn-block" />
            </div>
        </div>
    </div>
</form>

@section PageScript{
    <script src="~/js/ressourceServerScripts.js"></script>
}