@model IEnumerable<DaOAuthV2.Service.DTO.UserClientListDto>

@{
    Layout = "_en.layout";
}

<h1>List of clients</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Client type
            </th>
            <th>
                Default return url
            </th>
            <th>
                Is actif
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultReturnUri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActif)
                </td>
                <td>
                    <a href="@Url.Action("Details", "Client", new { id = @item.ClientPublicId })"><i class="fas fa-2x fa-search"></i></a>
                    @if (item.IsCreator)
                    {
                        <a href="@Url.Action("Edit", "Client", new { id = @item.ClientPublicId })"><i class="fas fa-2x fa-edit"></i></a>
                        <a href="@Url.Action("Delete", "Client", new { id = @item.ClientPublicId })"><i class="fas fa-2x fa-trash-alt"></i></a>
                    }
                </td>
                <td>
                    @if (item.IsActif)
                    {
                        <a href="@Url.Action("Revoke", "Client", new { ClientPublicId = item.ClientPublicId })" class="btn btn-lg btn-danger">Revoke</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Accept", "Client", new { ClientPublicId = item.ClientPublicId })" class="btn btn-lg btn-success">Allow</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a href="@Url.Action("Dashboard", "Home")" class="btn btn-lg btn-secondary">Back</a>
    <a href="@Url.Action("Create", "Client")" class="btn btn-lg btn-primary">New client</a>
</p>
