@model DaOAuthV2.Service.DTO.ClientDto

@{
    Layout = "_fr.layout";
}


<h1>Détails du client <em>@Model.Name</em></h1>
<hr />

<div class="row justify-content-md-center">
    <div class="col-8">
        <h4>Informations</h4>
        <strong>Nom : </strong>@Model.Name<br />
        <strong>Type : </strong>@Model.ClientType<br />
        <strong>Date de création : </strong>@Model.CreationDate.ToShortDateString()<br />
        <strong>Id publique : </strong>@Model.PublicId<br />
        <strong>Mot de passe : </strong>@Model.ClientSecret<br />
        <strong>Description : </strong>@Model.Description
        @if (Model.ReturnUrls != null && Model.ReturnUrls.Count > 0)
        {
            <hr />
            <h4>Urls de retour</h4>
            <ul class="list-group">
                @foreach (var s in Model.ReturnUrls)
                {
                    <li class="list-group-item">@s.Value</li>
                }
            </ul>
        }

        @if (Model.Scopes != null && Model.Scopes.Count > 0)
        {
            <hr />
            <h4>Scopes</h4>
            <ul class="list-group">
                @foreach (var s in Model.Scopes)
                {
                    <li class="list-group-item"><strong>@s.NiceWording</strong> - <em>@s.Wording</em></li>
                }
            </ul>
        }

    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-12">
        <a href="@Url.Action("List", "Client")" class="btn btn-lg btn-secondary btn-block">Retour</a>
    </div>
</div>

