@model DaOAuthV2.Gui.Front.Models.AdministrationDashboardModel

@{
    Layout = "_en.layout";
}

@await Html.PartialAsync("_en.modelErrors")

<h1>Administration</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                User name
            </th>
            <th>
                Email
            </th>
            <th>
                Is valid
            </th>
            <th>
                Number of clients
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsValid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientCount)
                </td>
                @if (User.Identity.Name.Equals(item.UserName, StringComparison.OrdinalIgnoreCase))
                {
                    <td></td>
                    <td></td>
                }
                else
                {
                    <td>
                        @if (item.ClientCount > 0)
                        {
                            <a href="@Url.Action("UserDetails", "Administration", new { id = @item.UserId })"><i class="fas fa-2x fa-search"></i></a>
                        }
                        <span onclick="return doConfirm('@item.UserName');" style="cursor: pointer;"><i class="fas fa-2x fa-trash-alt"></i></span>
                    </td>
                    <td>
                        @if (item.IsValid)
                        {
                            <a href="@Url.Action("Desactivate", "Administration", new { userName = item.UserName })" class="btn btn-lg btn-danger">Desactivate</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Activate", "Administration", new { userName = item.UserName })" class="btn btn-lg btn-success">Activate</a>
                        }
                    </td>
                }
            </tr>
        }

    </tbody>
</table>

@section PageScript {
    <script type="text/javascript">
        function doConfirm(userName) {
            $.bsAlert.confirm("Are you sure you want to delete this user ?", function () {
                $(location).attr('href', '/en/Administration/UserDelete/' + userName);
            });
        }
    </script>
}